/// Cores principais do blog.
$purple: #A050BE;
$light-gray: #EAEAEB;
$dark-gray: #464646;
$yellow: #FABE50;
$imgwidth: 45%;

///Váriaveis criadas para não ficar repetindo estilizações.
%no-decoration {text-decoration: none;}
%u-decoration {text-decoration: underline;}

/// Mixin que reseta essas propriedades para o default.
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Mixin que deixa as coisas com display flex e justify-content sem ter que ficar repetindo elas. */
@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

/// Mixin que deixa a página responsiva
@mixin for-phone-only {
    @media (max-width: 767.98px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

/// Função para calcular o font-size de px para rem.
@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin fontSize($size) {
    font-size: calculateRem($size);
}

/// Importa os outros arquivos de estilo do Sass.
@import 'header', 'footer', 'about', 'article', 'collection', 'contact';

/// Para calcular a margin da página.
$directions: top, bottom, left, right;
$layout-margin-size: 10px;

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}: 0;} //Deixa a margin no 0 ou seja sem margin.
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;} //Deixa a margin no default, com 10px;
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;} // Deixa a margin com o dobro dela, assim ficando 20px.
    %triple-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 3;} // Deixa a margin com o triplo dela, assim ficando 30px.
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;} // Deixa a margin com a metade dela, assim ficando 5px;
    
}

///Estilização da página index.html
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    &__content {
        @include for-phone-only {
            width: 100%;
        }
        width: 70%;
        padding: 40px 8px;
    }

    &__post {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; 
    }

    &__title {
        text-decoration: none;
        @include fontSize(22px);
        color: $dark-gray;
        letter-spacing: 1.5;

        &:hover {
            color: $purple;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %default-margin-top, %double-margin-bottom;
    }

    &__date {
        @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right; // Inclui o each que altera os px do margin.
        @include fontSize(12px);  // Inclui o mixin fontSize substituindo o fontsize padrão.
        font-style: italic;
    }

    &__tag {
        @include fontSize(14px);
        padding: 5px 7px;
        color: $purple;
        border: 1px solid $purple;
        @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
    }

    &__details {
        border: 1px solid $light-gray;
        padding: 10px;
    }

    &__img {
        width: 100%;
    }

    &__description {
        padding: 40px 0 25px;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        @include fontSize(14px);
    }

    &__btn {
        text-decoration: none;
        @include fontSize(16px);
        letter-spacing: 1.5;
        color: $purple;
        background-color: $yellow;
        padding: 10px 20px;
        transition: .3s;
        border-radius: 50px;

        &:hover {
            color: $yellow;
            background-color: $purple;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $light-gray;
        @extend %triple-margin-top;
        padding-top: 5px;
    }

    &__author {
        width: 50%;
        border-right: 1px solid $light-gray;
    }

    &__p {
        @include fontSize(14px);
        color: $dark-gray;
        @extend %default-margin-top, %default-margin-bottom;
    }

    &__comments {
        width: 50%;
    }

    &__a {
        text-decoration: none;
        @include fontSize(14px);
        color: $dark-gray;
        @extend %default-margin-top, %default-margin-bottom;

        &:hover {
            color: $purple;
        }
    }

    &__sidebar {
        width: 25%;
        padding: 40px 10px;
    }

    .sidebar {
        &__top {
            border-top: 1px solid $light-gray;
            padding: 15px 20px;
        }

        &__title {
            background-color: $yellow;
            text-align: center;
            padding: 10px 20px;
            @extend %no-margin-top, %no-margin-bottom;
            letter-spacing: 1.5px;
        }

        &__posts {
            @include reset-list;
        }

        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 0;

            &:not(:last-child) {
                border-bottom: 1px dashed $light-gray;
            }
        }

        &__img {
            width: 40%;
        }

        &__details {
            width: 50%;
            padding-left: 10px;
        }

        &__post-title {
            @include fontSize(14px);
            color: $purple;
            @extend %no-decoration;

            &:hover {
               @extend %u-decoration;
            }
        }

        &__post-date {
            @include fontSize(12px);
            @extend %half-margin-top;
        }
    } 
}